@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,0.6)!important;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #eed011;
}

#qualifications {
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-inner {
  background-image: url(images/background.jpg);
}

#tc {
  width: 355px;
}

.heading {
  text-align: center;
  margin-top: 15px;
  font-size: 45px;
  font-weight: bold;
}

.underline {
  width: 5rem;
  height: .2rem;
  background-color: #090bcb;
  margin: 0 auto 2rem;
}

#caption {
  text-align: center;
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}


#profile_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 30px;
}

#oracle {
  width: 300px;
}

#ucalgary {
  width: 215px;
}

#about {
  background-color: #d3d7d7;
  padding-top: 30px;
}

#projects {
  background-color: #d3d7d7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.paragraph {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 50em;
  font-size: 20px;
  margin-top: 30px;
  padding-bottom: 90px;
}

.logo-font {
  width: auto;
  max-width: 40em;
  text-align: center;
  margin-left: 50px;
  font-size: 20px;
}

#contact {
  background-color: #49494d;
}

footer {
  background-color: #24292c;
  color: white;
  padding-top: 30px;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.4rem;
  margin: 1.2rem 0.5rem;
}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
